/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
div { position:relative } 
/* END RESET STYLES */


html{-webkit-font-smoothing:antialiased;}
body{font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";color:#a5a5a5;}
.portfolio-categ a{color:black;text-decoration:none;font-size:20px;}
.portfolio-categ a:hover{color:black; text-decoration:underline;}
.column-clear{ clear:both;}
.wrapper{ margin:0px auto; padding:0px;width:1080px;}
.portfolio-content, .portfolio-area{width:1080px;}
.title-page{font-size:40px;margin:50px 0px 60px 0px;color:#47CD51;font-weight:bold;text-align:center;}
.goto{float:right;width:130px;margin:-80px 30px 0px 0px;}
a{text-decoration:none;}
/**** PORTFOLIO STYLES*****/
.portfolio-categ{margin-bottom:30px;text-align:center;}
.portfolio-categ li{display:inline;margin-right:10px;}
.image-block{ display:block;position: relative;}

.portfolio-area li {
	float: left;
	margin: 0 1% 2%;
	width: 31.33%;
}
.portfolio-area li img{width:100%;height:200px;}
.home-portfolio-text{margin-top:0px;}
li.active a{ text-decoration:underline;color:#47CD51;}
.pp_pic_holder.light_rounded {
	top: 153.5px;
	left: 50% !important;
	display: block;
	width: 1000px !important;
	transform: translate(-50%) !important;
}
div.light_rounded .pp_top .pp_middle, div.light_rounded .pp_bottom .pp_middle, div.light_rounded .pp_content {
	background: none !important;
}
div.light_rounded .pp_content_container .pp_left, div.light_rounded 
.pp_content_container .pp_right{background:white !important;padding:30px !important;
    border:1px solid transparent;box-shadow: 0 0 5px transparent;}
div.light_rounded .pp_top .pp_right, div.light_rounded .pp_top .pp_left, div.light_rounded .pp_bottom .pp_left,
 div.light_rounded .pp_bottom .pp_right {
	background: none !important;
}
div.light_rounded .pp_content_container .pp_left:hover, div.light_rounded 
.pp_content_container .pp_right:hover{border: 1px solid #47CD51;box-shadow: 0 0 5px #47CD51;
}
.portfolio-item2 .home-portfolio-text {
	width: 100%;
	height: 200px;
	background: rgba(71, 205, 81, 0.54);
	text-align: center;
	padding-top: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: perspective(400px) rotateX(-90deg);
	transform-origin: center top 0;
	transition: all .5s ease 0s;
	display: flex;
align-items: center;
justify-content: center;
-webkit-align-items: center;
-webkit-align-content: center;
-moz-box-pack: center;
-moz-box-align: center;
display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
}
.pp_content_container .pp_details {
	float: left;
	margin: 0 1%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-align-content: center;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.post-title-portfolio a {
	color: black;
	font-weight: bold;
}
.image-zoom {
	height: 100%;
	display: block;
}
.portfolio-item2:hover .home-portfolio-text {
	opacity: 1;
	transform: perspective(400px) rotateX(0);
}
div.light_rounded .pp_next {
	background: url(../images/next.png) center right no-repeat !important;
	cursor: pointer;width:50px !important;display: block;
	height: 32px !important;
	top: 50%;
position: absolute;
right: -30%;
}
.pp_previous.disabled {
	visibility: visible !important;
}
a.pp_previous {
	background: url(../images/prev.png) !important;
	display: block;
	float: left;
	height: 32px !important;
	text-indent: 0 !important;
	width: 50px !important;
	background-repeat: no-repeat !important;
	font-size: 0;
	top: 50%;
position: absolute;
left: -30%;
}
div.light_rounded .pp_next:hover {
	background:none;
	cursor: pointer;
}
.pp_details.clearfix p {
	color: black;
	font-size: 20px;
}
.pp_fade {
	height: 100% !important;
}
.pp_description span {
	margin-top: 20px;
	display: block;
	font-size: 16px;
}
.date a, .comments a {
	color: #47CD51;
	font-size: 16px;
}
.date, .comments {
	padding-left: 30px;
}
.date:before{position:absolute;content:"";
	background-image:url("../images/calendar\(1\).png");left: 0;background-repeat: no-repeat;
	top: 0;
	display: block;
	height: 24px;
	width: 24px;}
.comments:before{position:absolute;content:"";
	background-image:url("../images/comment.png");left: 0;background-repeat: no-repeat;
	top: 0;
	display: block;
	height: 24px;
	width: 24px;}
.description-ul {
	display: flex;margin-top:20px;
}
.description-ul li {
	margin-right: 10px;position:relative;
}
.description-ul li{font-size:16px;}
.pp_nav {
	display: none !important;
}
#pp_full_res {
	float: left;
	width: 48%;
	margin: 0 1%;
	position: relative;
	z-index: 99;height: 100%;
}
.pp_hoverContainer {
	height: 100% !important;
	width: 100% !important;
}
.pp_details.clearfix {
	float: left;
	width: 48% !important;margin:0 1%;
}
#pp_full_res img {
	width: 100% !important;
	height: 100% !important;
}

/**** END PORTFOLIO STYLES*****/